---
layout: single
title: "404: Page not found"
description: "Clearly you are Lost."
permalink: 404.html
header:
  image: "https://btc-nerds.xyz/bitcoin-history/assets/img/Craig-Wright-is-Satoshi-Nakamoto.jpg"
  og_image: "https://btc-nerds.xyz/bitcoin-history/assets/img/Craig-Wright-is-Satoshi-Nakamoto.jpg"
  caption: "[404 Clearly You are Lost...](https://totalbitcoin.org/craig-wright-admitted-he-is-satoshi-nakamoto/)"
toc: false
---

  <p><b>Craig Wright is clearly not Satoshi Nakamoto.</b></p>
  
<p class="lead">Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="https://btc-nerds.xyz/bitcoin-history/">Go Home</a> to try finding it again.</p>

<p><ul>
  <li><a href="https://infominer.id">Infominer.id</a></li>
  <li><a href="https://web-work.tools/">Web-work.tools</a></li>
  <li><a href="https://web-work.tools/indieweb/">Web-work.tools/indieweb</a></li>
  <li><a href="https://decentralized-id.com/">Decentralized-id.com</a></li>
  <li><a href="https://sourcecrypto.pub/">SourceCrypto.pub</a></li>
  <li><a href="https://btc-nerds.xyz/bitcoin-history/">btc-nerds.xyz/bitcoin-history/</a></li>
  <li><a href="https://sourcecrypto.pub/transcripts/">Sourcecrypto.pub/transcripts/</a></li>
  <li><a href="https://learncryptotrading.co/">Learncryptotrading.co</a></li>
</ul></p>

<img src="https://learncryptotrading.co/assets/img/every-single-one-of-us-is-satoshi-nakamoto-not-craig-wright.png"/>

<h2>Pages</h2>
{% for post in site.pages %}
  {% include archive-single.html %}
{% endfor %}

<h2>Posts</h2>
{% for post in site.posts %}
  {% include archive-single.html %}
{% endfor %}

<h2>SourceDiscolog</h2>

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
{% unless collection.output == false or collection.label == "posts" %}
  {% capture label %}{{ collection.label }}{% endcapture %}
  {% if label != written_label %}
  <h3>{{ label }}</h3>
  {% capture written_label %}{{ label }}{% endcapture %}
  {% endif %}
{% endunless %}
{% for post in collection.docs %}
  {% unless collection.output == false or collection.label == "posts" %}
  {% include archive-single.html %}
  {% endunless %}
{% endfor %}
{% endfor %}